<div class="container pt-5">
  <h1>My Tasks</h1>
  <% @tasks.each do |task| %>
    <ul>
      <div class="tasks">
        <li class ="markers">
          <% if task.completed %>
            <%= icon('fas', 'circle') %>
          <% else %>
            <%= icon('far', 'circle') %>
          <% end %>
            <%= link_to task.title, task_path(task) %>
        </li>
      </div>
    </ul>
  <% end %>
  <div class="btn btn-primary btn-sm w-100">
    <%= link_to "Add a Task", new_task_path %>
  </div>
</div>
